<h1>LongestWord#score</h1>

<h2> Game Over </h2>
<p> time: <%= @result[:time] %> </p>
<p> score: <%= @result[:score]%> </p>
<p> translation <%= @result[:translation]%> </p>
<p> message <%= @result[:message]%> </p>
